* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    background-color: rgb(0, 0, 0) (140, 5, 140);

}

main {
    background-color: yellow (204, 255, 0);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 4px 4px 14px yellow;
}